body {
  text-align: center;
  font-size: 13.5px;
  line-height: 1.2em;
}
body *{
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica,
    Arial, sans-serif;
}

.container {
  margin: auto;
  width: 50%;
}

@media print {
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}